@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome AZURE SIN AZURE</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">HELLO GITHUB E INTEGRACION CONTINUA</a>.</p>
</div>
